<style type="text/css">
/* http://codepen.io/erikapdx/pen/BnfjH */
body {
  background: #F8A434;
  font-family: 'Lato', sans-serif;
  color: #FDFCFB;
  text-align: center;
}

form {
  max-width: 450px;
  margin: 17% auto;
}

.header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}

.input {
  display: flex;
  align-items: center;
}

.button {
  height: 44px;
  border: none;
}

#email {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}

#submit {
  width: 25%;
  height: 46px;
  background: #E86C8D;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

#submit:hover {
  background: #d45d7d;
}
  
input:focus {
  outline: none;
  outline: 2px solid #E86C8D;
  box-shadow: 0 0 2px #E86C8D;
}
</style>

<form action="/" method="post" name="form for slack invitation request">
  <%= Rack::Csrf.tag(env) %>
  <div class="header">
     <p>Join <br/><%= @team_name %> <br/>Slack</p>
  </div>
  <div class="description">
    <p><%= @description %></p>
  </div>
  <div class="input">
    <input type="email" class="button" id="email" name="email" placeholder="NAME@EXAMPLE.COM">
    <input type="submit" class="button" id="submit" value="REQUEST">
  </div>
</form>