<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8" />
  <title>Join the <%= settings.team_name %> Slack</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- source : https://github.com/seapy/slack_invite_automation_sinatra -->
</head>
<body>
  <%= yield %>
</body>
</html>
