<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8" />
  <title>Join the <%= @team_name %> Slack</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <%= yield %>
</body>
</html>